html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif;
  user-select: none;
  font-size: 1.5em;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  text-shadow: 2px 2px 5px #e7eeff;
  background-color: #dffefb;
}

h1 {
  border: 2px solid black;
  background-color: #ebfffd;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 3px 3px 3px gray;
  text-align: center;
  width: 75%;
}

button {
  background-color: #ebfffd;
  color: black;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1em;
  box-shadow: 3px 3px 3px gray;
  font-weight: 600;
  font-style: italic;
  text-align: center;
}

button:nth-last-of-type(1) {
  margin-bottom: 20px;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  background-color: white;
  transform: scale(0.9);
}

ol {
  width: 70%;
  height: 60%;
  background-color: #ebfffd;
  overflow: auto;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0 75px;
  box-shadow: 3px 3px 3px gray;
}

li {
  user-select: text;
  letter-spacing: 2px;
  font-size: 1em;
  padding: 10px;
  border-bottom: 0.1px solid black;
  font-weight: 600;
}

ol::-webkit-scrollbar {
  width: 20px;
}

ol::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px black;
  border-radius: 0 8px 8px 0;
}

ol::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 0 8px 8px 0;
  border: 1px solid black;
}

@media (max-width: 750px), (max-height: 600px) {
  body {
    font-size: 0.5em;
  }

  h1 {
    padding: 10px;
    margin-bottom: 10px;
    width: 75%;
  }

  button {
    font-size: 1.5em;
    padding: 10px 30px;
    margin: 10px 0;
  }

  ol {
    height: 70%;
    width: 70%;
    padding: 0 40px;
  }

  li {
    font-size: 1.7em;
    padding: 5px 0;
    text-align: left;
  }
  ol::-webkit-scrollbar {
    width: 10px;
  }
}
